{
  "presets": [
    ["@babel/preset-env", {
      "modules": false,
      "targets": {
        "ie": "11"
      }
    }],
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/plugin-syntax-dynamic-import",
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    ["@babel/plugin-proposal-class-properties", { "loose": true }],
    [
      "import",
      {
        "libraryName": "antd",
        "style": true
      }
    ],
    [
      "transform-react-remove-prop-types",
      {
        "mode": "wrap",
        "ignoreFilenames": [
          "node_modules"
        ]
      }
    ]
  ],
  "compact": false
}

